<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

    <!--########## 画面設定 ##########-->
    <!--# ページ送り設定 #-->
    <!-- ページ送りリンク表示数 -->
    <add key="PagerLinkNumber" value="10" />
    <!-- 検索の一覽での、1ページあたりの表示数 -->
    <add key="DefaultItemNumberOnPage" value="20" />
    <!-- 郵便番号検索での、1ページあたりの表示数 -->
    <add key="ZipSearchItemNumberOnPage" value="20" />
    <!-- ランキング表示での、1ページあたりの表示数 -->
    <add key="FrontRankingDispCount" value="5" />
    <!-- number of item on a order list page -->
    <add key ="OrderItemNumberOnPage" value="100"/>    


    <!--# お問い合わせ先（現状はコンビニ決済のみ使用） #-->
    <add key="ContactInformationName" value="運営会社名" /><!--42byte-->
    <add key="ContactInformationTel" value="000-000-0000" /><!--12byte-->
    <add key="ContactInformationTime" value="00:00-00:00" /><!--11byte-->
    
    
    
    
    <!--########## 動作設定 ##########-->
    <add key="debug" value="true" />
    <add key="enableEncryption" value="true" />
    <add key="enableSSL" value="Required" />    <!-- 開発用。falseにすることで、SSLクッキーを通常クッキー化＆ErsRequireHttps属性の無効化 / value="Required"でSSL必須 -->
    <add key="enableMobile" value="false" />
    <add key="enableSni" value="false" /><!-- SNI設定中は、True -->

    <add key="onVEX" value="false" />    <!-- VEX検証中はtrue -->

    <add key="cookieExpiration" value=""/>    <!--minutes-->
    <add key="cookieDomain" value=""/>
    <add key="cookiePath" value="/"/>
    <add key="cookieTimer" value="" />    <!--email保存クッキー保持期限（分）-->

    <add key="cookieSessionPrefix" value="erssession_" /> <!--セッション接頭辞-->
    <add key="cookieSessionPrefix_1" value="erssession1_" /> <!--サイト1 cookieSessionPrefix_{site_id}-->
    <add key="cookieSessionPrefix_5" value="erssession2_" /> <!--サイト2 cookieSessionPrefix_{site_id}-->

    <!-- 配送希望設定 -->
    <add key="MaxSenddayCount" value="60" />

    <!-- クレジットカード最大登録枚数　-->
    <add key="entryCardInfoCount" value="2" />

    <!--フロントでのメール便の入力チェック追加-->
    <add key="max_purchase_count_mail_per_item" value="1" />
	
	<add key="common_max_purchase_count" value="99" />

    <!-- 伝票検索実体　-->
    <add key="shipping_csv_output_min_days" value="5" /> <!--日-->
  
    <!-- SMTPメール送信 -->
    <!--<add key="smtpHostName" value="127.0.0.1"/>
    <add key="smtpPort" value="3333"/>-->
    <add key="smtpHostName" value="ers-mail-smtp4.ivp.ne.jp"/>
    <add key="smtpPort" value="25"/>
    <add key="smtpOperationLogPath" value="C:\sendmailivp\log\"/>
    <add key="smtpErrorLogPath" value="C:\sendmailivp\log\error\"/>
    <add key="smtpRetryTermMinutes" value="2"/>
    <add key="smtpRetryIntervalMinutes" value="1"/>
    <add key="smtpRetryTextPath" value="C:\sendmailivp\mqueue_retry\"/>

    <!--# アップロードファイルサイズ制限 #-->
    <add key="default_upload_limit_byte" value="20971520" />
    <add key="csv_upload_limit_byte" value="31457280" />
    <add key="image_upload_limit_byte" value="5242880" />

    <!--# ＠メールテスト送信デフォルトセットアドレス #-->
    <add key="default_send_testmail" value="konomi@ivp.co.jp" />
g
    <!--next_dateから何日前のデータの伝票生成を実行するか-->
    <add key="createRegularOrderDayCount" value="5" />



    <!--########## サイト情報設定 ##########-->
    <!--複数サイト設定  (falseの場合、マスタサイト情報を使用します。-->
    <add key="multiple_sites" value="true" />
    <!--顧客一元化/Customer unification-->
    <add key="member_centralization" value="false" />
    <!-- # 会員ランク一元化 # -->
    <add key="member_rank_centralization" value="false"/>
    
    <!--マスタサイト-->
    <add key="pc_sec_url" value="https://ersassignpip.localhost" />
    <add key="pc_nor_url" value="http://ersassignpip.localhost/" />
    <add key="mobile_sec_url" value="http://erspip.localhost/m/" />
    <add key="mobile_nor_url" value="http://ersassignpip.localhost/m/" />
    <add key="smartphone_sec_url" value="http://ersassignpip.localhost/sp/" />
    <add key="smartphone_nor_url" value="http://ersassignpip.localhost/sp/" />
    <add key="admin_sec_url" value="http://ersassignpip.localhost/admin/" />
    <add key="admin_nor_url" value="http://ersassignpip.localhost/admin/" />
    <add key="contact_sec_url" value="http://ersassignpip.localhost/cts/" />
    <add key="contact_nor_url" value="" />

    <add key="pc_application_root" value="ersAssignment" />
    <add key="mobile_application_root" value="ersMobile" />
    <add key="smartphone_application_root" value="ersSmartPhone" />
    <add key="admin_application_root" value="ersAdmin" />
    <add key="contact_application_root" value="ersContact" />

    <add key="image_directory" value="D:\Projects\ERSV7PIP\ers\ers\images\" />
    <add key="image_temp_directory" value="D:\Projects\ERSV7PIP\ers\ers\images_temp\" />
    <add key="news_image_path" value="ers\images\cms\news" />
    <add key="news_image_temp_path" value="ers\up\cms\news" />

    <!--ErsSite IDs-->
    <add key="ers_sites_id" value="1,5" />

    <!--サイト1 XX_{site_id}_XXXXXX-->
    <add key="pc_1_sec_url" value="https://ersassignpip.localhost/" />
    <add key="pc_1_nor_url" value="http://ersassignpip.localhost/" />
    <add key="mobile_1_sec_url" value="http://ersassignpip.localhost/m/" />
    <add key="mobile_1_nor_url" value="http://ersassignpip.localhost/m/" />
    <add key="smartphone_1_sec_url" value="http://ersassignpip.localhost/sp/" />
    <add key="smartphone_1_nor_url" value="http://ersassignpip.localhost/sp/" />
    <add key="contact_1_sec_url" value="http://ersassignpip.localhost/cts/" />
    <add key="contact_1_nor_url" value="" />

    <add key="pc_1_application_root" value="ersAssignment" />
    <add key="mobile_1_application_root" value="ersMobile" />
    <add key="smartphone_1_application_root" value="ersSmartPhone" />
    <add key="contact_1_application_root" value="ersContact" />

    <add key="image_1_directory" value="D:\Projects\ERSV7PIP\ers\ers\images\" />
    <add key="news_1_image_path" value="ers\images\cms\news" />

    <!--サイト2 XX_{site_id}_XXXXXX-->
    <add key="pc_5_sec_url" value="https://ersassignpip.localhost/" />
    <add key="pc_5_nor_url" value="http://ersassignpip.localhost/" />
    <add key="mobile_5_sec_url" value="http://ersassignpip.localhost/m/" />
    <add key="mobile_5_nor_url" value="http://ersassignpip.localhost/m/" />
    <add key="smartphone_5_sec_url" value="http://ersassignpip.localhost/sp/" />
    <add key="smartphone_5_nor_url" value="http://ersassignpip.localhost/sp/" />
    <add key="contact_5_sec_url" value="http://ersassignpip.localhost/cts/" />
    <add key="contact_5_nor_url" value="" />

    <add key="pc_5_application_root" value="ers2nd" />
    <add key="mobile_5_application_root" value="ersMobile2nd" />
    <add key="smartphone_5_application_root" value="ersSmartPhone2nd" />
    <add key="contact_5_application_root" value="ersContact2nd" />

    <add key="image_5_directory" value="D:\Projects\ERSV7PIP\ers\ers\images\" />
    <add key="news_5_image_path" value="ers2nd\images\cms\news" />

    <add key="BasicAuthUserName" value="appli_dev" />
    <add key="BasicAuthPassword" value="cloud@456" />

    <add key="cart_url" value="top/cart/asp/cart.asp" />
    <add key="change_url" value="top/member/asp/passchange1.asp" />
    <add key="mypage_url" value="top/member/asp/user.asp" />

    <add key="open_rate_image_url" value="images/spacer.gif" />
    <add key="click_count_url" value="top/redirect/asp/redirect.asp" />


    <!--########## ディレクトリ設定 ##########-->
    <add key="root_path" value="D:\Projects\ERSV7PIP\ers\" />
    <add key="log_path" value="C:\logs\ers-v7.2.0\" />
    <add key="d_back_path" value="D:\Projects\ERSV7PIP\ers\ers\d_back" />


    <add key="gmo_log_directory" value="gmolog" />
    <add key="paypal_log_directory" value="paypallog" />


    <!--########## DB設定 ##########-->
    <add key="ConnectionStrings" value="Server=192.168.58.66;Port=5433;Database=ers_v7_assignment;User Id=appli_dev;Password=cloud@456" />
    <add key="ErsDatabaseFactoryClassName" value="jp.co.ivp.ers.db.ErsWebDatabaseFactory" />

    <!-- SSLサイトでは、以下は全てコメントアウトすること。 -->
    <!--<add key="ConnectionStrings0" value="Server=192.168.58.66;Port=5433;Database=ers_v7_development;User Id=ers_v7_dev_sec;Password=ers_v7_dev_sec" />
    <add key="ConnectionStrings1" value="Server=192.168.58.66;Port=5433;Database=ers_v7_development;User Id=ers_v7_dev_sec;Password=ers_v7_dev_sec" />
    <add key="ConnectionStrings2" value="Server=192.168.58.66;Port=5433;Database=ers_v7_development;User Id=ers_v7_dev_sec;Password=ers_v7_dev_sec" />
    <add key="ConnectionStrings3" value="Server=192.168.58.66;Port=5433;Database=ers_v7_development;User Id=ers_v7_dev_sec;Password=ers_v7_dev_sec" />
    <add key="ConnectionStrings4" value="Server=192.168.58.66;Port=5433;Database=ers_v7_development;User Id=ers_v7_dev_sec;Password=ers_v7_dev_sec" />-->
    <!--<add key="ConnectionStrings5" value="Server=192.168.58.66;Port=5433;Database=ers_v7_development_cloud2;User Id=ers_v7_dev_sec;Password=ers_v7_dev_sec" />
    <add key="ConnectionStrings6" value="Server=192.168.58.66;Port=5433;Database=ers_v7_development;User Id=ers_v7_dev_sec;Password=ers_v7_dev_sec" />
    <add key="ConnectionStrings7" value="Server=192.168.58.66;Port=5433;Database=ers_v7_development;User Id=ers_v7_dev_sec;Password=ers_v7_dev_sec" />
    <add key="ConnectionStrings8" value="Server=192.168.58.66;Port=5433;Database=ers_v7_development;User Id=ers_v7_dev_sec;Password=ers_v7_dev_sec" />
    <add key="ConnectionStrings9" value="Server=192.168.58.66;Port=5433;Database=ers_v7_development;User Id=ers_v7_dev_sec;Password=ers_v7_dev_sec" />-->



    <!--########## 決済設定 ##########-->
    <!--<add key="CreditCardPaymentClass" value="jp.co.ivp.ers.Payment.ErsCyberSource" />-->
    <add key="CreditCardPaymentClass" value="jp.co.ivp.ers.Payment.ErsGmoCard" />
    <add key="ConveniencePaymentClass" value="jp.co.ivp.ers.Payment.ErsGmoConvenience" />

    <!--# サイバーソース決済設定 #-->
    <!--<add key="cybersource_server" value="ics2.ic3.com" />-->
    <add key="cybersource_server" value="ics2test.ic3.com" />
    <add key="cybersource_merchant" value="ivp_testcs" />
    <add key="cybersource_server_monitor" value="ics2test.ic3.com" />

    <!--# PayPal決済設定 #-->
    <!--<add key="paypal_api_endpoint" value="https://api-3t.paypal.com/nvp" />
    <add key="paypal_ec_url" value="https://www.paypal.com/cgi-bin/webscr" />-->
    <add key="paypal_api_endpoint" value="https://api-3t.sandbox.paypal.com/nvp" />
    <add key="paypal_ec_url" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
    <add key="paypal_api_username" value="ivp_1293186165_biz_api1.ivp.co.jp" />
    <add key="paypal_api_password" value="6FSETDTH85VL4HSN" />
    <add key="paypal_api_signature" value="An5ns1Kso7MWUdW4ErQKJJJ4qi4-AI1pXByW75Uf9Kizmmfqo6cSFkbF" />
    <add key="paypal_api_subject" value="" />
    <add key="paypal_api_version" value="62.0" />
    <add key="paypal_item_name" value="商品一式" />
    <add key="paypal_paymenttype" value="Authorization" />

    <!--# PayPal監視用設定-->
    <add key="paypal_api_endpoint_monitor" value="https://api-3t.sandbox.paypal.com/nvp" />
    <add key="paypal_ec_url_monitor" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
    <add key="paypal_api_username_monitor" value="ivp_1293186165_biz_api1.ivp.co.jp" />
    <add key="paypal_api_password_monitor" value="6FSETDTH85VL4HSN" />
    <add key="paypal_api_signature_monitor" value="An5ns1Kso7MWUdW4ErQKJJJ4qi4-AI1pXByW75Uf9Kizmmfqo6cSFkbF" />
    <add key="paypal_api_subject_monitor" value="" />

    <!--# GMO決済設定 #-->
    <add key="gmo_connect_url" value="https://pt01.mul-pay.jp/" />
    <add key="gmo_shop_id" value="tshop00009989" />
    <add key="gmo_shop_password" value="kr9gwnrk" />
    <add key="gmo_site_id" value="tsite00009672" />
    <add key="gmo_site_password" value="ub4gr3kh1y" />

    <!--# GMO監視用設定-->
    <add key="gmo_connect_url_monitor" value="https://pt01.mul-pay.jp/" />
    <add key="gmo_shop_id_monitor" value="tshop00009989" />
    <add key="gmo_shop_password_monitor" value="kr9gwnrk" />
    <add key="gmo_site_id_monitor" value="tsite00009672" />
    <add key="gmo_site_password_monitor" value="ub4gr3kh1y" />

    <add key="gmo_compensable_total" value="30000" />




    <!--########## セキュリティ設定 ##########-->
    <!--# 乱数設定 #-->
    <add key="ransu_length" value="32" />
    <add key="ransu_expiration" value="160" />
    <add key="ransu_chars" value="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz" />

    <add key="ProhibitionChars" value="&amp;&#165;&quot;'&lt;&gt;,;" /><!--&\"'<>,;-->
    <add key="ProhibitionCharsReplace" value="＆￥”’＜＞、；" /><!--&\"'<>,;-->

    <!--# 許可HTML #-->
    <add key="allowHtmlTag" value="!doctype,a,abbr,acronym,address,applet,area,b,base,basefont,bdo,big,blockquote,body,br,button,caption,center,cite,code,col,colgroup,dd,del,dfn,dir,div,dl,dt,em,fieldset,font,form,frame,frameset,h1,h2,h3,h4,h5,h6,head,hr,html,i,iframe,img,input,ins,isindex,kbd,label,legend,li,link,map,menu,meta,noframes,noscript,object,ol,optgroup,option,p,param,pre,q,s,samp,script,select,small,span,strike,strong,style,sub,sup,table,tbody,td,textarea,tfoot,th,thead,title,tr,tt,u,ul,var,article,aside,audio,bdi,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,mark,meta,meter,nav,output,progress,rp,rt,ruby,section,source,summary,time,track,video,wbr" />

    <!--IgnoreRoute File Extensions-->
    <add key="ignore_file_extensions" value="pdf|js|css|doc|xls|txt" />
  




    <!--########## システム設定 ##########-->
    <add key="site_id" value="1" />

    <!-- 文字数チェック方法を指定。 -->
    <!-- ByteValueRangeChecker:byte数 -->
    <!-- LengthValueRangeChecker:文字数 -->
    <add key="DefaultTextValueRangeChecker" value="LengthValueRangeChecker" />

    <add key="StockManagementType" value="NORMAL"/>
    <!--<add key="StockManagementType" value="INSERT"/>-->

    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="MessageResource" value="~/Views/MessageResource.config" />
    <add key="FieldNameResource" value="~/Views/FieldNameResource.config" />

    <!--domain mobile-->
    <add key="domain_mobile" value="docomo.ne.jp,docomo-camera.ne.jp,mopera.net,dwmail.jp,ezweb.ne.jp,biz.ezweb.ne.jp,ido.ne.jp,softbank.ne.jp,d.vodafone.ne.jp,h.vodafone.ne.jp,t.vodafone.ne.jp,c.vodafone.ne.jp,r.vodafone.ne.jp,k.vodafone.ne.jp,n.vodafone.ne.jp,s.vodafone.ne.jp,q.vodafone.ne.jp,disney.ne.jp,i.softbank.jp,pdx.ne.jp,willcom.com,emnet.ne.jp,vertuclub.ne.jp" />

    <!--年齢関連-->
    <add key="min_user_age" value="17"/>
    <add key="max_user_age" value="150"/>
    <add key="tgt_user_born" value="1953"/>

    <!--# 監視設定 #-->
    <add key="IgnoreGcode" value="test001;test002"/>
    <add key="monitorFirstLname" value="新てすと"/>
    <add key="monitorFirstFname" value="新太郎"/>
    <add key="monitorSecondLname" value="てすと"/>
    <add key="monitorSecondFname" value="太郎"/>

    <!--# @メール監視設定 #-->
    <add key="monitorMassSendProcessID" value="0"/>

    <add key="monitorMassSendMailAddress" value ="dev.ersv7.2.atmail@gmail.com"/>
    <add key="monitorMassSendMailServer" value ="imap.gmail.com"/>
    <add key="monitorMassSendMailServerPort" value ="993"/>
    <add key="monitorMassSendMailServerAccount" value ="dev.ersv7.2.atmail@gmail.com"/>
    <add key="monitorMassSendMailServerPass" value ="oX6UcWcD"/>
    <add key="monitorMassSendMailServerSslConnection" value ="true"/>
    <add key="monitorMassSendMailServerReceptionType" value ="2"/>
    <add key="monitorMassSendReadMailDirName" value ="[Gmail]/ゴミ箱"/>

    <!-- # CMS # -->
    <add key="editor_encoding" value="Shift-JIS"/>

    <!-- # 乱数発行 # -->
    <add key="duplicated_ransu_error_code" value="23505"/>

    <!-- システムエラーログ出力対象外 -->
    <add key="reject_logging_field_names" value="cardno;lname;fname;lnamek;fnamek"/>


    <!--########## モール連携設定 ##########-->
    <add key="enableMall" value ="false"/>

    <!-- HARC設定 -->
    <add key="harcLoginUser" value ="ivp"/>
    <add key="harcLoginPassword" value ="uStqjbD1G7"/>
    <add key="harcAuthUrl" value ="https://auth.api-robot.com/harc_gateway"/>
    <add key="harcApiUrl" value ="https://api-robot.com/harc/v1.0/json/{0}/api.php"/>

    <add key="harcSerializeFilePath" value ="harc"/>
    <add key="harcSerializeFileName" value ="harcRequest.bin"/>

    <add key="harcTimeOutSeconds" value ="1800"/>

    <!-- モール連携 商品SKU接頭語 -->
    <add key="mallProductSkuPrefix" value ="IVPDEF720"/>

    <!-- モール連携 受注ステータス更新再検証フラグ -->
    <add key="mall_order_update_status_verify" value="true"/>

    <!-- モール連携HARC CSVテンポラリ出力パス -->
    <add key="harcProductCsvOutputPath" value="~/harc/csv/"/>

    <!-- モール連携Yahoo!ストアクリエイターPro切替日時 -->
    <add key="mallYahooStoreCreatorProDatetime" value="2014/07/01 00:00:00"/>

    <!-- モール連携 在庫平準化アラート -->
    <add key="mallStockLevelingAlertMailFrom" value="dev-v7@ml.ivp.ne.jp" />
    <add key="mallStockLevelingAlertMailTo" value="appli-kanshi@ivp.co.jp" />
    <add key="mallStockLevelingAlertMailCc" value="" />
    <add key="mallStockLevelingAlertMailBcc" value="" />
    <add key="mallStockLevelingAlertMailTitle" value="【ers-v7.2】在庫平準化アラート" />

    <!-- モール連携 メール -->
    <add key="enableSendMailMall" value="true" />

    <!-- アップデートバッチ -->
    <add key ="uploadedFilePath" value="C:\logs\ers-v7\update_table\uploaded"/>
    <add key ="uploadedFileErrorPath" value="C:\logs\ers-v7\update_table\error"/>
    <add key ="uploadedFileBackupPath" value="C:\logs\ers-v7\update_table\backup"/>
    <add key ="notAllowedUpdatingTables" value="setup_t;ransu_t;ransu_admin_t;ransu_contact_t;role_group_t;function_group_t;batch_immediate_t;batch_schedule_t;batch_sequence_t"/>
	
    <add key ="downloadFilePath" value="C:\logs\ers-v7\download_table\uploaded"/>
    <add key ="downloadFileResultPath" value="C:\logs\ers-v7\download_table\result"/>

    <add key ="insertTableFilePath" value="C:\logs\ers-v7\insert_table\uploaded\"/>
    <add key ="insertTableFileErrorPath" value="C:\logs\ers-v7\insert_table\error\"/>
    <add key ="insertTableFileBackupPath" value="C:\logs\ers-v7\insert_table\backup\"/>

    <add key ="deleteFilePath" value="C:\logs\ers-v7\delete_table\uploaded"/>
    <add key ="deleteFileErrorPath" value="C:\logs\ers-v7\delete_table\error"/>
    <add key ="deleteFileBackupPath" value="C:\logs\ers-v7\delete_table\backup"/>
    
    <!-- MiniProfiler -->
    <add key="EnableMiniProfiler" value="false" />
    <add key="MiniProfilerAllowedIPs" value="219.96.232.34;125.100.147.58" />

    <!-- コンビニ決済アラートメール -->
    <add key="conveniencePaidGmoErrMailTitle" value="【ers-v7.2】コンビニ決済で不正な入金がありました" />
    <add key="conveniencePaidGmoErrMailFrom" value="dev-v7@ml.ivp.ne.jp" />
    <add key="conveniencePaidGmoErrMailTo" value="dev-v7@ml.ivp.ne.jp" />
    <add key="conveniencePaidGmoErrMailCc" value="dev-v7@ml.ivp.ne.jp" />
    <add key="conveniencePaidGmoErrMailBcc" value="dev-v7@ml.ivp.ne.jp" />
    
    <!--LP path image directory-->
    <add key="lp_image_path" value="ers\images\cms\lp" />

    <add key="ValidationForNotNumberOnlyEnabled" value="false" />
    
</appSettings>
