@{
    ViewBag.Title = "Transactionlist";
}

<table class="table table-dark" id="transactiontable">
    <thead>
        <tr>
            <th scope="col">File ID</th>
            <th scope="col">File Name</th>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
</table>



<center>
    @Html.ActionLink("UploadImage", "UploadImage", null, new { @class = "btn btn-primary" })
</center>

@section scripts{
    <script src="~/node_modules/abi-decoder/dist/abi-decoder.js"></script>
    <script src="~/node_modules/web3/dist/web3.min.js"></script>
    <script src="~/Scripts/WebMainConfig.js"></script>
    <script src="~/Scripts/Transactions.js"></script>
}

